<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="TimerInterval" value="10" />
	</appSettings>
	<connectionStrings>
		<add name="WsSendingSqlConn" connectionString="Data Source=DESKTOP-V8PCCV5, 1433;Initial Catalog=WsSendDB;Integrated Security=False;User ID=sa;Password=Pass@123;MultipleActiveResultSets=True;Encrypt=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>